@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    color: white;
    background: rgb(239, 239, 239);
  }
  ul {
    padding: 0;
  }
  ul,
  li {
    list-style: none;
  }
  button {
    border: inherit;
    outline: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
  p {
    font-size: 12px;
  }
  @media screen and (max-width: 640px) {
    h1 {
      font-size: 18px;
    }
    h2 {
      font-size: 15px;
    }
    p {
      font-size: 10px;
    }
  }
}

input {
  border: none;
  outline: none;
}
.user svg path {
  stroke: white;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #f53d2d;
}

::-webkit-scrollbar-thumb {
  background-color: #a71b4a;
  border-radius: 100vw;
}

.slick-track {
  display: flex;
  align-item: center;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.slick-dots ul li {
  position: relative;
  display: inline-block;
  /* width: 30px; */
  height: 5px;
  margin: 0 2px;
  padding: 0;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
}

.slick-dots ul li button {
  font-size: 0;
  display: block;
  width: 15px;
  height: inherit;
  border: 0;
  outline: none;
  background: white;
  border-radius: 3px;
  transition: width 0.3s ease-in-out;
  opacity: 0.4;
}

.slick-dots ul .slick-active button {
  width: 30px;
  opacity: 1;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.ant-btn {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.ant-popconfirm-buttons {
  display: flex;
}
